# Regression

## hdb flat prices 1990 2021 march

__ALL Prices 1990-2021 Mar.csv__

The largest file by far, ALL Prices 1990-2021 Mar.csv, contains over 800k rows of transactions of Singapore Housing Development Board (HDB) resale flats. As the name implies, BTO, SERS, HUDC and private housing are not included, though resale DBSS flat transactions are treated as ordinary HDB flat transactions. Many of the columns in the file are calculated columns or mapped columns (based on supplementary information) like the CPI index and lease percentage columns. For the full metadata/glossary of how I derived these terms, see the bottom of this description and/or the file and column descriptions.ons.

In [15]:
import pandas as pd

In [16]:
data = pd.read_csv('../data/row_data/ALL_ Prices1990-2021mar.csv')

In [17]:
data.head()

,month,year,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,...,price_psm_yearly,Core CPI,price cpi_adj,price_psm cpi_adj,bala lease pct,price lease_adj implied,price_psm lease_adj implied,price cpi_lease_adj implied,price_psm cpi_lease_adj implied,year_gni
0,1990-01,1990,ANG MO KIO,2,4 ROOM,308,ANG MO KIO AVE 1,308 ANG MO KIO AVE 1 SINGAPORE,1.365485,103.844025,...,10.997442,61.59,139633.05730,1517.750623,92.9,88869.752422,965.975570,144292.502700,1568.396769,22901
1,1990-01,1990,ANG MO KIO,2,3 ROOM,308,ANG MO KIO AVE 1,308 ANG MO KIO AVE 1 SINGAPORE,1.365485,103.844025,...,8.464849,61.59,95794.77188,1168.228925,92.9,60968.783638,743.521752,98991.368143,1207.211806,22901
2,1990-01,1990,ANG MO KIO,2,3 ROOM,216,ANG MO KIO AVE 1,216 ANG MO KIO AVE 1 SINGAPORE,1.366272,103.841465,...,7.606769,61.59,76635.81750,1049.805719,92.9,48775.026911,668.151054,79193.094510,1084.836911,22901
3,1990-01,1990,ANG MO KIO,2,3 ROOM,308,ANG MO KIO AVE 1,308 ANG MO KIO AVE 1 SINGAPORE,1.365485,103.844025,...,8.287972,61.59,76635.81750,1143.818172,92.9,48775.026911,727.985476,79193.094510,1181.986486,22901
4,1990-01,1990,ANG MO KIO,2,4 ROOM,211,ANG MO KIO AVE 3,211 ANG MO KIO AVE 3 SINGAPORE,1.369226,103.841652,...,11.484353,61.59,129891.21610,1603.595261,93.3,82315.112540,1016.235957,133650.125891,1650.001555,22901

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840918 entries, 0 to 840917
Data columns (total 28 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   month                            840918 non-null  object
 1   year                             840918 non-null  int64
 2   town                             840918 non-null  object
 3   town_dummy                       840918 non-null  int64
 4   flat_type                        840918 non-null  object
 5   block                            840918 non-null  object
 6   street_name                      840918 non-null  object
 7   address                          840918 non-null  object
 8   latitude                         840918 non-null  float64
 9   longitude                        840918 non-null  float64
 10  storey_range                     840918 non-null  object
 11  storey                           840918 non-null  int64
 12  area_sqm                         840918 non-null  float64
 13  flat_model                       840918 non-null  object
 14  lease_start                      840918 non-null  int64
 15  lease_rem                        840918 non-null  int64
 16  resale_price                     840918 non-null  float64
 17  price_psm                        840918 non-null  float64
 18  price_psm_yearly                 840918 non-null  float64
 19  Core CPI                         840918 non-null  float64
 20  price cpi_adj                    840918 non-null  float64
 21  price_psm cpi_adj                840918 non-null  float64
 22  bala lease pct                   840918 non-null  float64
 23  price lease_adj implied          840918 non-null  float64
 24  price_psm lease_adj implied      840918 non-null  float64
 25  price cpi_lease_adj implied      840918 non-null  float64
 26  price_psm cpi_lease_adj implied  840918 non-null  float64
 27  year_gni                         840918 non-null  int64
dtypes: float64(14), int64(6), object(8)
memory usage: 179.6+ MB

In [19]:
data20 = data.drop(columns=['month',
                          'town_dummy',
                         'street_name',
                         'address',
                         'Core CPI',
                         'year_gni',
                         'price cpi_lease_adj implied'
                         ])

data5 = data.drop(columns=['month',
                          'town_dummy',
                         'street_name',
                         'address',
                         'storey_range',
                         'storey',
                         'lease_start',
                         'lease_rem',
                         'price_psm',
                         'price_psm_yearly',
                         'Core CPI',
                         'latitude',
                         'longitude',
                         'price cpi_adj',
                         'price_psm cpi_adj',
                         'bala lease pct',
                         'price lease_adj implied',
                         'price_psm lease_adj implied',
                         'price_psm cpi_lease_adj implied',
                         'year_gni',
                         'price cpi_lease_adj implied',
                         'flat_model'])

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
LE = LabelEncoder()

In [22]:
data20['town'] = LE.fit_transform(data20['town'])
data20['flat_type'] = LE.fit_transform(data20['flat_type'])
data20['block'] = LE.fit_transform(data20['block'])
data20['storey_range'] = LE.fit_transform(data20['storey_range'])
data20['flat_model'] = LE.fit_transform(data20['flat_model'])


data5['town'] = LE.fit_transform(data5['town'])
data5['flat_type'] = LE.fit_transform(data5['flat_type'])
data5['block'] = LE.fit_transform(data5['block'])

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840918 entries, 0 to 840917
Data columns (total 28 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   month                            840918 non-null  object
 1   year                             840918 non-null  int64
 2   town                             840918 non-null  object
 3   town_dummy                       840918 non-null  int64
 4   flat_type                        840918 non-null  object
 5   block                            840918 non-null  object
 6   street_name                      840918 non-null  object
 7   address                          840918 non-null  object
 8   latitude                         840918 non-null  float64
 9   longitude                        840918 non-null  float64
 10  storey_range                     840918 non-null  object
 11  storey                           840918 non-null  int64
 12  area_sqm                         840918 non-null  float64
 13  flat_model                       840918 non-null  object
 14  lease_start                      840918 non-null  int64
 15  lease_rem                        840918 non-null  int64
 16  resale_price                     840918 non-null  float64
 17  price_psm                        840918 non-null  float64
 18  price_psm_yearly                 840918 non-null  float64
 19  Core CPI                         840918 non-null  float64
 20  price cpi_adj                    840918 non-null  float64
 21  price_psm cpi_adj                840918 non-null  float64
 22  bala lease pct                   840918 non-null  float64
 23  price lease_adj implied          840918 non-null  float64
 24  price_psm lease_adj implied      840918 non-null  float64
 25  price cpi_lease_adj implied      840918 non-null  float64
 26  price_psm cpi_lease_adj implied  840918 non-null  float64
 27  year_gni                         840918 non-null  int64
dtypes: float64(14), int64(6), object(8)
memory usage: 179.6+ MB

In [24]:
from sklearn.preprocessing import MaxAbsScaler

In [25]:
data20[['longitude']] = MaxAbsScaler().fit_transform(data20[['longitude']])
data20[['area_sqm']] = MaxAbsScaler().fit_transform(data20[['area_sqm']])
data20[['year']] = MaxAbsScaler().fit_transform(data20[['year']])
data20[['price lease_adj implied']] = MaxAbsScaler().fit_transform(data20[['price lease_adj implied']])
data20[['price_psm lease_adj implied']] = MaxAbsScaler().fit_transform(data20[['price_psm lease_adj implied']])
data20[['price_psm']] = MaxAbsScaler().fit_transform(data20[['price_psm']])
data20[['lease_start']] = MaxAbsScaler().fit_transform(data20[['lease_start']])
data20[['price_psm_yearly']] = MaxAbsScaler().fit_transform(data20[['price_psm_yearly']])
data20[['price cpi_adj']] = MaxAbsScaler().fit_transform(data20[['price cpi_adj']])
data20[['bala lease pct']] = MaxAbsScaler().fit_transform(data20[['bala lease pct']])
data20[['price_psm cpi_adj']] = MaxAbsScaler().fit_transform(data20[['price_psm cpi_adj']])
data20[['price_psm cpi_lease_adj implied']] = MaxAbsScaler().fit_transform(data20[['price_psm cpi_lease_adj implied']])



data5[['area_sqm']] = MaxAbsScaler().fit_transform(data5[['area_sqm']])
data5[['year']] = MaxAbsScaler().fit_transform(data5[['year']])
data5[['block']] = MaxAbsScaler().fit_transform(data5[['block']])
data5[['flat_type']] = MaxAbsScaler().fit_transform(data5[['flat_type']])

In [26]:
len(data20)

840918

In [27]:
#I USED THE FOLLOWING TO CREATE THE DATA
# data5.to_csv('../data/flat_data/5F/data.csv', encoding='utf-8', index=False)
data20[:-(840918-50)].to_csv('../data/flat_data/20F/data.csv', encoding='utf-8', index=False)